.cv-container {
  display: grid;
  padding: 10px;
  text-align: left;
}
.education {
  justify-self: center;
}
.education {
  padding: 10px;
  grid-column-start: 1;
  grid-column-end: 2;
  margin-right: 20px;
}
.experience {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  justify-self: center;
}
body {
  background-color: #0278ae;
}
.title-cv {
  color:whitesmoke;  
  letter-spacing: 0.8rem;
}
.text-cv {
  color: whitesmoke;
}
.subtitle-cv {
  color: whitesmoke;
  font-weight: bolder;
}
.card-color {
  background-color: #aec6e4;
}